<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{$Think.lang.admin_title}</title>
    <link rel="stylesheet" href="__PUBLIC__/lib/layui-v2.2.45/css/layui.css">
    <style type="text/css">
        body{
            background-color: #ccc;
        }
        .box{
            padding: 15% 0 0;
            width: 400px;
            margin: auto;
            text-align: center;
        }
        .f-20{
            font-size: 30px;
        }
    </style>
</head>
<body>

<div class="box">
    <i class="layui-icon" style="font-size: 80px;">&#xe69c;</i><span class="va-m"></span>
    <p class="f-20">没有操作权限</p>
</div>

</body>
</html>
