<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图标</title>
    <link rel="stylesheet" href="__ADMIN__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__ADMIN__/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/layui-v2.2.45/css/layui.css">
    <link rel="stylesheet" href="__ADMIN__/css/style.css">
</head>
<body style="padding: 25px;">
<div class="panel panel-default">
    <div class="panel-heading">图标</div>
    <div class="panel-body" style="min-height: 87vh;">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th width="50">序号</th>
                <th>图标1</th>
                <th>图标2</th>
                <th>图标3</th>
                <th>图标4</th>
                <th>图标5</th>
                <th>图标6</th>
                <th>图标7</th>
                <th>图标8</th>
                <th>图标9</th>
                <th>图标10</th>
                <th>图标11</th>
                <th>图标12</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>1</th>
                <td> <i class="fa fa-glass"></i><br>   fa-glass</td>
                <td> <i class="fa fa-music"></i><br>   fa-music</td>
                <td> <i class="fa fa-search"></i><br>   fa-search</td>
                <td> <i class="fa fa-envelope-o"></i><br>   fa-envelope-o</td>
                <td> <i class="fa fa-heart"></i><br>   fa-heart</td>
                <td> <i class="fa fa-star"></i><br>   fa-star</td>
                <td> <i class="fa fa-star-o"></i><br>   fa-star-o</td>
                <td> <i class="fa fa-user"></i><br>   fa-user</td>
                <td> <i class="fa fa-film"></i><br>   fa-film</td>
                <td> <i class="fa fa-th-large"></i><br>   fa-th-large</td>
                <td> <i class="fa fa-th"></i><br>   fa-th</td>
                <td> <i class="fa fa-th-list"></i><br>   fa-th-list</td>
            </tr>
            <tr>
                <th>2</th>
                <td> <i class="fa fa-check"></i><br>   fa-check</td>
                <td> <i class="fa fa-remove"></i><br>   fa-remove fa-close</td>
                <td> <i class="fa fa-search-plus"></i><br>   fa-search-plus</td>
                <td> <i class="fa fa-search-minus"></i><br>   fa-search-minus</td>
                <td> <i class="fa fa-power-off"></i><br>   fa-power-off</td>
                <td> <i class="fa fa-signal"></i><br>   fa-signal</td>
                <td> <i class="fa fa-gear"></i><br>   fa-gear</td>
                <td> <i class="fa fa-trash-o"></i><br>   fa-trash-o</td>
                <td> <i class="fa fa-home"></i><br>   fa-home</td>
                <td> <i class="fa fa-file-o"></i><br>   fa-file-o</td>
                <td> <i class="fa fa-clock-o"></i><br>   fa-clock-o</td>
                <td> <i class="fa fa-road"></i><br>   fa-road</td>
            </tr>
            <tr>
                <th>3</th>
                <td> <i class="fa fa-download"></i><br>   fa-download</td>
                <td> <i class="fa fa-arrow-circle-o-down"></i><br>   fa-arrow-circle-o-down</td>
                <td> <i class="fa fa-arrow-circle-o-up"></i><br>   fa-arrow-circle-o-up</td>
                <td> <i class="fa fa-inbox"></i><br>   fa-inbox</td>
                <td> <i class="fa fa-play-circle-o"></i><br>   fa-play-circle-o</td>
                <td> <i class="fa fa-rotate-right"></i><br>   fa-rotate-right</td>
                <td> <i class="fa fa-refresh"></i><br>   fa-refresh</td>
                <td> <i class="fa fa-list-alt"></i><br>   fa-list-alt</td>
                <td> <i class="fa fa-lock"></i><br>   fa-lock</td>
                <td> <i class="fa fa-flag"></i><br>   fa-flag</td>
                <td> <i class="fa fa-headphones"></i><br>   fa-headphones</td>
                <td> <i class="fa fa-volume-off"></i><br>   fa-volume-off</td>
            </tr>
            <tr>
                <th>4</th>
                <td> <i class="fa fa-volume-down"></i><br>   fa-volume-down</td>
                <td> <i class="fa fa-volume-up"></i><br>   fa-volume-up</td>
                <td> <i class="fa fa-qrcode"></i><br>   fa-qrcode</td>
                <td> <i class="fa fa-barcode"></i><br>   fa-barcode</td>
                <td> <i class="fa fa-tag"></i><br>   fa-tag</td>
                <td> <i class="fa fa-tags"></i><br>   fa-tags</td>
                <td> <i class="fa fa-book"></i><br>   fa-book</td>
                <td> <i class="fa fa-bookmark"></i><br>   fa-bookmark</td>
                <td> <i class="fa fa-print"></i><br>   fa-print</td>
                <td> <i class="fa fa-camera"></i><br>   fa-camera</td>
                <td> <i class="fa fa-font"></i><br>   fa-font</td>
                <td> <i class="fa fa-bold"></i><br>   fa-bold</td>
            </tr>
            <tr>
                <th>5</th>
                <td> <i class="fa fa-italic"></i><br>   fa-italic</td>
                <td> <i class="fa fa-text-height"></i><br>   fa-text-height</td>
                <td> <i class="fa fa-text-width"></i><br>   fa-text-width</td>
                <td> <i class="fa fa-align-left"></i><br>   fa-align-left</td>
                <td> <i class="fa fa-align-center"></i><br>   fa-align-center</td>
                <td> <i class="fa fa-align-right"></i><br>   fa-align-right</td>
                <td> <i class="fa fa-align-justify"></i><br>   fa-align-justify</td>
                <td> <i class="fa fa-list"></i><br>   fa-list</td>
                <td> <i class="fa fa-dedent"></i><br>   fa-dedent</td>
                <td> <i class="fa fa-indent"></i><br>   fa-indent</td>
                <td> <i class="fa fa-video-camera"></i><br>   fa-video-camera</td>
                <td> <i class="fa fa-photo"></i><br>   fa-photo</td>
            </tr>
            <tr>
                <th>6</th>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
            </tr>
            <tr>
                <th>5</th>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
            </tr>
            <tr>
                <th>5</th>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
            </tr>
            <tr>
                <th>5</th>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
            </tr>
            <tr>
                <th>5</th>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
            </tr>
            <tr>
                <th>5</th>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
            </tr>
            <tr>
                <th>5</th>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
            </tr>
            <tr>
                <th>5</th>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
            </tr>
            <tr>
                <th>5</th>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
            </tr>
            <tr>
                <th>5</th>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
                <td> <i class="fa "></i><br>   </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>