<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/admin/lib/html5shiv.zepto"></script>
    <script type="text/javascript" src="/static/admin/lib/respond.min.zepto"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/static/admin/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="/static/admin/lib/DD_belatedPNG_0.0.8a-min.zepto" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>个人中心</title>
    <!--    百度地图引入的js-->
    <style type="text/css">
        #allmap {
            width: 100%;
            height: 300px;
            overflow: hidden;
            margin: 0;
            font-family: "微软雅黑";
            border: 1px solid #ccc
        }
    </style>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" method="post" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>管理员账户：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" readonly value="{$data.username}" id="username" nullmsg="管理员名">
            </div>
            <div class="col-xs-8 col-sm-6 col-xs-offset-4 col-sm-offset-2"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>昵称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.nick_name}" datatype="*" id="nick_name" name="nick_name" nullmsg="昵称不能为空">
            </div>
            <div class="col-xs-8 col-sm-6 col-xs-offset-4 col-sm-offset-2"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>登录密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" datatype="*" id="password" name="password" nullmsg="密码不能为空">
            </div>
            <div class="col-xs-8 col-sm-6 col-xs-offset-4 col-sm-offset-2"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>手机号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.link_phone}" datatype="m" id="link_phone" name="link_phone" nullmsg="请填写正确格式的手机号">
            </div>
            <div class="col-xs-8 col-sm-6 col-xs-offset-4 col-sm-offset-2"></div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="email" class="input-text" value="{$data.email}" datatype="e" id="email" name="email" nullmsg="请填写正确格式的邮箱">
            </div>
            <div class="col-xs-8 col-sm-6 col-xs-offset-4 col-sm-offset-2"></div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632; </i> 保存</button>
                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;关闭&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer /作为公共模版分离出去-->
<script src="/static/admin/lib/uploadify/jquery.uploadify.min.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/lib/uploadify/uploadify.css"/>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/admin/Validform.min.js"></script>

<!--表单验证-->
<script type="text/javascript">
    $("#form-article-add").Validform({
        tiptype:2,
        beforeSubmit: function (curform) {
            $.ajax({
                url: "{:url('admin/adminedit')}",
                datatype: "json",
                type:'post',
                data: $('#form-article-add').serialize(),// 你的formid
                success: function (data) {
                    if (data == true) {
                        layer.msg("保存成功", {icon: 1, time: 1000});
                        setTimeout(function () {
                            location.href='/admin_v2/welcome/index';
                        },2000);
                    }else {
                        layer.msg(data, {icon: 7, time: 1000})
                    }
                }
            });
            return false;
        }
    });
</script>
<!--提交表单-->
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>