<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
		<meta charset="utf-8" />
		<script type="text/javascript" src="js/one.js"></script>
		<link rel="stylesheet" type="text/css" href="css/weiyue.css"/>
		<title>订单详情</title>
	</head>
	<body>
		<div id="box">
			<div class="header">
				<div class="header-1">
					<p class="header-p1">已超过买家付款</p>
					<p class="header-p2">保证金不退</p>
				</div>
				<div class="weizhi" v-for="(item,index) in weiYue">
					<div class="weizhi-xq">
						<p class="xm">
							<span>{{item.name}}</span>
							<span>{{item.phone}}</span>
						</p>
						<p class="dz">
							{{item.address}}
						</p>
					</div>
				</div>
			</div>
			<div class="second" v-for="(item,index) in weiYue">
				<div class="second-1" @click="location.href = 'focusStore.html?id='+item.s_id">
					<p>{{item.shop}}</p>
				</div>
				<div class="second-2" @click="location.href = 'ongoing.html?id='+item.g_id">
					<div class="second-3">
						<div class="second-2-left">
							<img :src="item.cover_plan"/>
						</div>
						<div class="second-2-right">
							<p class="second-p1">{{item.goods_name}}</p>
							<p class="second-p2">竞拍价：<span>￥{{item.end_price}}</span></p>
							<p class="second-p3">保证金：￥{{item.bond}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="three" v-for="(item,index) in weiYue">
				<div class="three-1">
					<p class="three-p1">成交价格<span>￥{{item.end_price}} </span></p>
					<p class="three-p2">保证金额（不返还）<span>-￥{{item.bond}} </span></p>
					<p class="three-p3">运费<span>￥{{item.postage}} </span></p>
					<p class="three-p4">实付金额<span>￥{{item.end_price+item.postage}} </span></p>
				</div>

			</div>
			<div class="four" v-for="(item,index) in weiYue">
				<div class="four-1">
					<p>订单编号<span>{{item.order_sn}}</span></p>
					<p>成交时间<span>{{item.deal_time}}</span></p>
					<p>关闭时间<span>2018年4月24日 09:25</span></p>
				</div>
			</div>
		</div>
		<script src="js/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script>
            new Vue({
                el:'#box',
                data:{
					weiYue:'',
                },
                methods:{
                    weiyue:function(){
                        var _this=this;
                        var newsID=window.location.search;
                        axios.get("/api/orders/weiYue"+newsID).then(function(res){
                            _this.weiYue = res.data.data;
                            // console.log(res);
                        }).catch(function(){
                            console.log('没有')
                        })
                    }
                },
                mounted:function(){
                    this.weiyue();
                }
            })
		</script>
	</body>
</html>

