<!--继承模板-->
{extend name="base" /}
<!--主体内容-->
{block name='content'}
<section class="content-header">
    <h1>商店管理</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>商店列表</li>
    </ol>
</section>
<div class="layui-content-box">
    <div class="box">
        <div class="box-header layui-row">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                <div class="input-group">
                    <button class="layui-btn layui-btn-sm layui-btn-normal monitor-action" data-action="create">
                        <i class="layui-icon">&#xe654;</i>新增
                    </button>
                    <!--<button class="layui-btn layui-btn-sm layui-btn-danger monitor-action" data-action="deleteAll">-->
                    <!--<i class="layui-icon">&#xe640;</i>批量删除-->
                    <!--</button>-->
                </div>
            </div>
            <!--<div class="layui-col-xs12 layui-col-sm6 layui-col-md6">-->
            <!--&lt;!&ndash;<div class="input-group">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="请输入关键词">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="btn btn-default" type="button">搜索</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        </div>
        <div class="box-body">
            <table id="lists-table" lay-filter="lists"></table>
            <script type="text/html" id="tb-status">
                <i class='fa {{# if(d.status==1){ }}fa-check-circle text-green{{# }else{ }}fa-times-circle text-red{{# } }}' lay-event="status"></i>
            </script>
            <script type="text/html" id="tb-image">
                <img style="height: 40px;" src="{{d.shopimage}}" alt="">
            </script>
            <!--操作-->
            <script type="text/html" id="tb-action">
                <a class="layui-btn layui-btn-normal  layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>
{include file="public/javascript_index"/}
<script type="text/javascript">
    layui.use(['table','layer','jquery'], function(){
        var $=table = layui.table;
        //搜索
        var $ = layui.$, active = {
            reload: function(){
                var nickname = $('#empno');

                //执行重载
                table.reload('lists-table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        key: {
                            nickname: nickname.val(),
                        }
                    }
                });
            }
        };
        $('.box-header .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
<!--<script type="text/javascript">-->
    <!--/**-->
     <!--* 一般直接写在一个js文件中-->
     <!--* 公共方法-->
    <!--//  */-->
    <!--// layui.use(['table','layer','jquery'], function(){-->
    <!--//     var $=layui.jquery,table = layui.table,layer=layui.layer;-->
    <!--//     // 表格初始化-->
    <!--//     table.render({-->
    <!--//         elem: '#lists-table'-->
    <!--//         ,url:"{:url($Request.controller.'/getData')}"-->
    <!--//         ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增-->
    <!--//         ,height:'full-145'-->
    <!--//         ,width:700-->
    <!--//         ,page:true-->
    <!--//         ,limit:15-->
    <!--//         ,limits:[15,30,50,100,200,500,1000]-->
    <!--//         ,response: {-->
    <!--//             statusCode: 200 //成功的状态码，默认：0-->
    <!--//         }-->
    <!--//         ,cols: [-->
<!--//                 {$table}-->
<!--//             ]-->
<!--//         });-->
<!--//         // 表格内操作监听 编辑、删除-->
<!--//         table.on('tool(lists)', function(obj){-->
<!--//             var data = obj.data;-->
<!--//             if(obj.event === 'detail'){-->
<!--//                 show_layui(layer,'{$Think.lang.detail}',"{:url('detail')}"+"?id="+data.id);-->
<!--//             } else if(obj.event === 'del'){-->
<!--//                 layer.confirm('真的删除吗?', function(index){-->
<!--//                     if(data.status==1){-->
<!--// //                        layer.msg('{$Think.lang.del_is_use}',{icon:7});return false;-->
<!--//                         layer.msg('启用状态数据不可删除',{icon:7});return false;-->
<!--//                     }-->
<!--//                     $.ajax({-->
<!--//                         url:"{:url('delete')}"-->
<!--//                         ,data:{id:data.id}-->
<!--//                         ,type:'POST'-->
<!--//                         ,dataType:'json'-->
<!--//                         ,success:function (res) {-->
<!--//                             if(res.code==200){-->
<!--//                                 obj.del();-->
<!--//                                 layer.close(index);-->
<!--//                                 layer.msg(res.msg, {icon: 1,time:1000});-->
<!--//                             }else{-->
<!--//                                 layer.msg(res.msg,{icon:7});-->
<!--//                             }-->
<!--//                         }-->
<!--//                     });-->
<!--//                 });-->
<!--//             } else if(obj.event === 'edit'){-->
<!--//                 show_layui(layer,'{$Think.lang.edit}',"{:url('edit')}"+"?id="+data.id);-->
<!--//             } else if(obj.event === 'status'){-->
<!--//                 var status=data.status==1?9:1;-->
<!--//                 $.ajax({-->
<!--//                     url:"{:url('updatestate')}"-->
<!--//                     ,data:{id:data.id,status:status}-->
<!--//                     ,type:'POST'-->
<!--//                     ,dataType:'json'-->
<!--//                     ,success:function (res) {-->
<!--//                         if(res.code==200){-->
<!--//                             //layer.msg(res.msg, {icon: 1,time:1000});-->
<!--// //                            successMsg(res.msg);-->
<!--//                             obj.update({-->
<!--//                                 status: status-->
<!--//                             });-->
<!--//                         }else {-->
<!--//                             layer.msg(res.msg,{icon:7});-->
<!--//                         }-->
<!--//                     }-->
<!--//                 });-->
<!--//             }-->
<!--//         });-->
<!--// //        表格数据编辑-->
<!--//         table.on('edit(lists)', function(obj){ //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"-->
<!--//             var data={};-->
<!--//             data['id']=obj.data.id;-->
<!--//             data[obj.field]=obj.value;-->
<!--//             $.ajax({-->
<!--//                 url:"{:url('edit')}"-->
<!--//                 ,data:data-->
                <!--&lt;!&ndash;,type:'POST'&ndash;&gt;-->
                <!--&lt;!&ndash;,dataType:'json'&ndash;&gt;-->
                <!--&lt;!&ndash;,success:function (res) {&ndash;&gt;-->
                    <!--&lt;!&ndash;if(res.code==0){&ndash;&gt;-->
                        <!--&lt;!&ndash;layer.msg(res.msg, {icon: 1,time:1000});&ndash;&gt;-->
                    <!--&lt;!&ndash;}else {&ndash;&gt;-->
                        <!--&lt;!&ndash;table.reload('lists-table');&ndash;&gt;-->
                        <!--&lt;!&ndash;layer.msg(res.msg,{icon:7});&ndash;&gt;-->
                    <!--&lt;!&ndash;}&ndash;&gt;-->
                <!--&lt;!&ndash;}&ndash;&gt;-->
            <!--&lt;!&ndash;})&ndash;&gt;-->
        <!--&lt;!&ndash;});&ndash;&gt;-->
        <!--&lt;!&ndash;// 新增和批量删除监听&ndash;&gt;-->
        <!--&lt;!&ndash;$('.monitor-action').on('click',function () {&ndash;&gt;-->
            <!--&lt;!&ndash;switch ($(this).data('action')){&ndash;&gt;-->
                <!--&lt;!&ndash;case 'create':&ndash;&gt;-->
                    <!--&lt;!&ndash;show_layui(layer,'{$Think.lang.create}',"{:url('create')}");&ndash;&gt;-->
                    <!--&lt;!&ndash;break;&ndash;&gt;-->
                <!--&lt;!&ndash;case 'deleteAll':&ndash;&gt;-->

                    <!--&lt;!&ndash;break;&ndash;&gt;-->
                <!--&lt;!&ndash;default:&ndash;&gt;-->
            <!--&lt;!&ndash;}&ndash;&gt;-->
        <!--&lt;!&ndash;});&ndash;&gt;-->

    <!--&lt;!&ndash;});&ndash;&gt;-->
    <!--&lt;!&ndash;/**&ndash;&gt;-->
     <!--&lt;!&ndash;* 新增成功提示并重载数据库&ndash;&gt;-->
     <!--&lt;!&ndash;* @param layer&ndash;&gt;-->
     <!--&lt;!&ndash;* @param msg&ndash;&gt;-->
     <!--&lt;!&ndash;*/&ndash;&gt;-->
    <!--&lt;!&ndash;function successMsg(msg) {&ndash;&gt;-->
        <!--&lt;!&ndash;layui.use(['table','layer'], function() {&ndash;&gt;-->
            <!--&lt;!&ndash;var table = layui.table,layer=layui.layer;&ndash;&gt;-->
            <!--&lt;!&ndash;// 成功提示&ndash;&gt;-->
            <!--&lt;!&ndash;layer.msg(msg, {icon: 1,time:2000});&ndash;&gt;-->
            <!--&lt;!&ndash;// 重载数据库&ndash;&gt;-->
            <!--&lt;!&ndash;table.reload('lists-table');&ndash;&gt;-->
        <!--&lt;!&ndash;})&ndash;&gt;-->
    <!--&lt;!&ndash;}&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
{/block}