<!--继承模板-->
{extend name="base" /}
<!--主体内容-->
{block name='content'}
<section class="content-header">
    <h1>新增/编辑</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>新增/编辑</li>
    </ol>
</section>
<div class="layui-content-box">
    <div class="panel panel-info" style="margin-bottom: 0px;">
        <div class="panel-heading">基本参数</div>
        <div class="panel-body">
            <form class="layui-form layui-form-pane" action="">
                <input type="hidden" name="id" value="{$data.id|default=''}">
                <div class="layui-form-item">
                    <label class="layui-form-label"><div class="c-red">*</div>名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="banner_name" value="{$data.banner_name|default=''}" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                  <div class="layui-upload">
                    <button type="button" class="layui-btn"  id="test1"><div class="c-red">*</div>图片</button>
                    <div class="layui-upload-list" style="text-align:center;">
                        <p> 建议图片上传比例 16:9</p>
                        <img src="{$data.banner_img|default=''}" style="width:150px;" class="layui-upload-img" id="demo1">
                        <p id="demoText"></p>
                        <input  type="hidden" class="demo1" id="images"  name="banner_img" value="{$data.banner_img|default=''}"   >
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><div class="c-red">*</div>链接</label>
                    <div class="layui-input-block">
                        <input type="text" name="banner_url" value="{$data.banner_url|default=''}" required  lay-verify="required" placeholder="请输入链接 格式 http://www.xxxx.xxx" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><div class="c-red">*</div>开始时间</label>
                    <div class="layui-inline"> <!-- 注意：这一层元素并不是必须的 -->
                        <input value="{$data.start_time|default=''}" type="text" name="start_time" required  lay-verify="required" class="layui-input" id="time1">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><div class="c-red">*</div>结束时间</label>
                    <div class="layui-inline"> <!-- 注意：这一层元素并不是必须的 -->
                        <input value="{$data.end_time|default=''}" type="text" name="end_time" required  lay-verify="required" class="layui-input" id="time2">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否启用</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="启用" {if condition="!empty($data.status)"}{eq name="$data.status" value="1"} checked {/eq}{else/}checked{/if}>
                        <input type="radio" name="status" value="9" {if condition="!empty($data.status)"}{eq name="$data.status" value="9"} checked {/eq}{/if} title="禁用">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-submit">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="form">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script>
    //移除相片
    $('.close-img').live('click',(function () {
        $(this).parent().remove();
    }));
</script>
{include file="public/javascript_add_edit"/}
{/block}