<!--继承模板-->
{extend name="base" /}
<!--主体内容-->
{block name='content'}

<section class="content-header">
    <h1>新增/编辑</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>新增/编辑</li>
    </ol>
</section>
<div class="layui-content-box">
    <div class="panel panel-info" style="margin-bottom: 0px;">
        <div class="panel-heading">基本参数</div>
        <div class="panel-body">
            <form class="layui-form layui-form-pane" action="">
                <input type="hidden" name="id" value="{$data.id|default=''}">
                <div class="layui-form-item">
                    <label class="layui-form-label"><div class="c-red">*</div>商品名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="goods_name" value="{$data.goods_name|default=''}" required  lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test1"><div class="c-red">*</div>封面图</button>
                    <div class="layui-upload-list" style="text-align:center;">
                        <p> 建议图片上传比例 4:3</p>
                        <img src="{$data.cover_plan|default=''}" style="width:150px;" class="layui-upload-img" id="demo1">
                        <p id="demoText"></p>
                        <input type="hidden" class="demo1" id="images" name="cover_plan" value="{$data.cover_plan|default=''}">
                    </div>
                </div>
                <div class="layui-upload">
                    <button type="button" class="layui-btn" id="test2"><div class="c-red">*</div>商品图</button>
                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                        预览图：
                        <div class="layui-upload-list" style="text-align:center;" id="demo2">
                            <p> 建议图片上传比例 16:9</p>
                            {if condition="!empty($data.image)"}
                            {foreach name="$data.image" item="v"}
                            <div class="demo2">
                                <img style="width: 150px;" src="{$v}" class="layui-upload-img">
                                <img src="__PUBLIC__/lib/img/close.png" alt="" class="close-img">
                                <input type="hidden" name="image[]" class="image" value="{$v}">
                            </div>
                            {/foreach}
                            {/if}
                        </div>
                    </blockquote>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><div class="c-red">*</div>作品年代</label>
                    <div class="layui-input-block">
                        <input type="text" name="decade" value="{$data.decade|default=''}" required  lay-verify="required" placeholder="请输入作品年代" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <!--<div class="layui-form-item">-->
                    <!--<label class="layui-form-label"><div class="c-red">*</div>商品来源</label>-->
                    <!--<div class="layui-input-block">-->
                        <!--<input type="text" name="source" value="{$data.source|default=''}" required  lay-verify="required" placeholder="请输入商品来源" autocomplete="off" class="layui-input">-->
                    <!--</div>-->
                <!--</div>-->
                <div class="layui-form-item">
                    <label class="layui-form-label">商品分类</label>
                    <div class="layui-input-block">

                        <select name="cates_id" lay-filter="aihao">
                            <option value=""></option>

                            {if condition="!empty($cates)&&!empty($catesid)"}
                            {foreach($cates as $key =>$value)}

                            <option  {if condition="$value.id == $catesid" } selected  {/if} value={$value['id']} >{$value['cname']}</option>

                            {/foreach}
                            {elseif !empty($cates) && empty($catesid)}
                            {foreach($cates as $k=>$v)}
                            <option   value = {$v.id} >{$v.cname|default=''}</option>
                            {/foreach}
                            {/if}

                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><div class="c-red">*</div>起拍价</label>
                    <div class="layui-input-block">
                        <input type="number" min="0" step="0.01" name="starting_price" value="{$data.starting_price|default=''}" required  lay-verify="required" placeholder="请输入起拍价" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><div class="c-red">*</div>加价幅度</label>
                    <div class="layui-input-block">
                        <input type="number" min="0" step="0.01" name="range_price" value="{$data.range_price|default=''}" required  lay-verify="required" placeholder="请输入加价幅度" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><div class="c-red">*</div>开始时间</label>
                    <div class="layui-inline"> <!-- 注意：这一层元素并不是必须的 -->
                        <input value="{$data.start_time|default=''}" type="text" name="start_time" class="layui-input" id="time1">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><div class="c-red">*</div>结束时间</label>
                    <div class="layui-inline"> <!-- 注意：这一层元素并不是必须的 -->
                        <input value="{$data.end_time|default=''}" type="text" name="end_time" class="layui-input" id="time2">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><div class="c-red">*</div>排序</label>
                    <div class="layui-input-block">
                        <input type="number" min="0" step="0.01" name="sort" value="{$data.sort|default=''}" required  lay-verify="required" placeholder="请输入排序" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否启用</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="启用" {if condition="!empty($data.status)"}{eq name="$data.status" value="1"} checked {/eq}{else/}checked{/if}>
                        <input type="radio" name="status" value="9" {if condition="!empty($data.status)"}{eq name="$data.status" value="9"} checked {/eq}{/if} title="禁用">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><div class="c-red">*</div>图文详情</label>
                    <div class="layui-input-block">
                        <script id="editor" name="particulars" type="text/pain" >{$data.particulars|default=''|htmlspecialchars_decode}</script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-submit">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="form">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script>
    //移除相片
    $('.close-img').live('click',(function () {
        $(this).parent().remove();
    }));
</script>
{include file="public/javascript_add_edit"/}
{/block}