<!--继承模板-->
{extend name="base" /}
<!--主体内容-->
{block name='content'}
<section class="content-header">
    <h1>拍卖记录</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>拍卖记录</li>
    </ol>
</section>
<div class="layui-content-box">
    <div class="box">
        <div class="box-header layui-row">
            <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                <div class="input-group">
                    <!-- <button class="layui-btn layui-btn-sm layui-btn-normal monitor-action" data-action="create">
                        <i class="layui-icon">&#xe654;</i>新增
                    </button> -->
                    <!--<button class="layui-btn layui-btn-sm layui-btn-danger monitor-action" data-action="deleteAll">-->
                    <!--<i class="layui-icon">&#xe640;</i>{$Think.lang.delete_all}-->
                    <!--</button>-->
                </div>
            </div>
            <div class="layui-input-inline layui-form">
                <div class="layui-inline">
                    <input class="layui-input" name="goods_name" id="goods_name" placeholder="商品名称">
                </div>
            </div>
            <div class="layui-input-inline layui-form">
                <div class="layui-inline">
                    <input class="layui-input" name="nickname" id="nickname" placeholder="输入会员名称">
                </div>
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
        <div class="box-body">
            <table id="lists-table" lay-filter="lists"></table>
            <!--封面图-->
            <script type="text/html" id="tb-image">
                <img style="height: 40px;" src="{{d.banner_img}}" alt="">
            </script>
            <!--操作-->
            <script type="text/html" id="tb-action">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
            <!--操作-->
            <script type="text/html" id="tb-field">

            </script>
        </div>
    </div>
</div>
{include file="public/javascript_index"/}
<script type="text/javascript">
    layui.use(['table','layer','jquery'], function(){
        var $=table = layui.table;
        //搜索
        var $ = layui.$, active = {
            reload: function(){
                var nickname = $('#nickname');
                var goods_name = $('#goods_name');
                //执行重载
                table.reload('lists-table', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        key: {
                            nickname: nickname.val(),
                            goods_name: goods_name.val(),
                        }
                    }
                });
            }
        };
        $('.box-header .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
{/block}